/* Transaction List */

#loader {
  text-align: center;
  min-height: 100px;
  vertical-align: middle;

  @media only screen and (max-width: $tablet-width) {
    width: 100%;
  }
}

#end-of-list {
  text-align: center;
  vertical-align: middle;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
}
