/* Transaction List */

#loader {
  text-align: center;
  min-height: 100px;
  vertical-align: middle;
}

#fetch-transactions, #end-of-list {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding: 0 !important;
  color: $grey-dark;
}
