.tag-dropdown {
  background-color: $white-base;
  z-index: 10;
  max-height: 270px;
  overflow-y: scroll;

  .tag-dropdown-option {
    text-align: left;
    padding: 6px 4px !important;
    min-width: 100px;
  }
}

