.transactions-filter {
  .date-field {
    position: relative;

    input {
      cursor: pointer;
    }
  }

  .tag-field {
    font-size: 14px !important;
    padding: 10px 14px !important;
  }

  .filter-tag {
    button {
      margin: 0 !important;
      padding: 0 !important;
      background-color: $white !important;
      color: $green !important;
      font-size: 14px !important;
      font-weight: 600 !important;
    }
  }
}
