/* Tag Form */

.tag-form {
  height: 25px;
  margin-bottom: 4px !important;
  position: relative;

  .tag-form-input {
    padding-left: 6px !important;
    width: 110px;
  }

  .tag-dropdown {
    position: absolute;
    top: 25px;
  }

  .tag-save, .tag-cancel {
    padding: 0 0 0 8px !important;
    width: 30px;

    .icon {
      font-size: 12px;
    }
  }
}
