.auth-header {
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 32px;
}

.auth-form-wrapper {
  .auth-form-segment {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }
}
