/* Dashboard */

#dashboard {
  border-left: 8px solid $green;
  margin: 0 auto;
  padding: 0 !important;
  min-height: 45px;
}

#total-amount {
  font-size: 28px;
  font-family: 'Source Serif Pro';
  font-weight: 700;
  padding: 13px 11px 9px 11px !important;
}

#transaction-count {
  font-size: 20px;
  font-family: 'Source Serif Pro';
  font-weight: 500;
}

#filter-text {
  font-size: 1.2em;
}

@media only screen and (min-width: 768px) {
  #filter-text {
    text-align: center;
  }
}

