/* Dashboard */

#dashboard {
  max-width: 500px;
  border-left: 8px solid $primary-color;
  margin: 0 auto;
}

#total-amount {
  margin: 20px 0 0 0;
  font-size: 40px;
  font-family: 'Abel';
}

#transaction-count {
  font-size: 22px;
  font-family: 'Abel'
}

#filter-text {
  font-size: 1.2em;
}

@media only screen and (min-width: 768px) {
  #filter-text {
    text-align: center;
  }
}

