/* Transaction Item */

.transaction-date-amount {
  font-size: 18px !important;
}

.transaction-description-textarea {
  width: 100%;
  padding: 0 !important;
  border: none !important;
  overflow: auto !important;
  resize: none !important;
  margin-bottom: -3px !important;

  &:focus {
    outline: none;
  }
}

.tag-button {
  color: $white !important;
  background-color: $green !important;
  padding: 3px !important;
  border-radius: 0 !important;
}
