/* Universal styles */

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.grouped-button {
  padding: 11px !important;
}
