/* Transaction Form */

.trans-form {
  .input-height {
    height: 30px;
  }

  .input-padding {
    padding-left: 6px !important;
  }

  .input-padding-inner {
    input {
      padding-left: 6px !important;
    }
  }
}

#trans-form-content {
  padding: 0 !important;
}


