$green: #006d5b;
$white: #FDFFFF;
$grey-dark: #333;
$grey: #666;
$grey-light: #BBB;
$black: #0F1B07;
$red: #D72C16;
$blue: #217CA3;
$yellow: #F5BE41;

$mobile-width: 560px;
$tablet-width: 767px;
$narrow-desktop-width: 992px;

body {
  background-color: $white;
}

/* Padding */

.no-padding {
  padding: 0 !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-30 {
  padding: 30px !important;
}

/* Margins */

.no-margin {
  margin: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-top-bottom-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-top-bottom-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-bottom-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

@media only screen and (max-width: $tablet-width) {
  .margin-top-5-mobile {
    margin-top: 5px !important;
  }

  .margin-bottom-5-mobile {
    margin-bottom: 5px !important;
  }

  .margin-top-10-mobile {
    margin-top: 10px !important;
  }

  .margin-top-20-mobile {
    margin-top: 20px !important;
  }

  .margin-top-30-mobile {
    margin-top: 30px !important;
  }

  .margin-bottom-30-mobile {
    margin-bottom: 30px !important;
  }
}

/* Display */

.inline-block {
  display: inline-block !important;
}

@media only screen and (max-width: $mobile-width) {
  .hidden-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: $mobile-width + 1px) {
  .mobile-only {
    display: none !important;
  }
}

@media only screen and (max-width: $tablet-width) {
  .hidden-tablet-and-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: $tablet-width + 1px) {
  .tablet-and-mobile-only {
    display: none !important;
  }
}

/* Positioning */

.center-horizontally {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* Width */

.third-width {
  width: 33.3% !important;
}

.forty-percent-width {
  width: 40% !important;
}

.half-width {
  width: 50% !important;
}

.full-width {
  width: 100% !important;
}

@media only screen and (max-width: $tablet-width) {
  .full-width-mobile {
    width: 100% !important;
  }
}

/* Border */

.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

/* Text */

.yaba-text-size {
  font-size: 1.2em;
}

/* Colors */

.green-color {
  color: $green !important;
}

.red-color {
  color: $red !important;
}

.grey-light-color {
  color: $grey-light !important;
}

/* Buttons */

.green-button {
  background-color: $green !important;
  color: $white !important;
}

.red-button {
  background-color: $red !important;
  color: $white !important;
}

.blue-button {
  background-color: $blue !important;
  color: $white !important;
}

.yellow-button {
  background-color: $yellow !important;
  color: $white !important;
}

/* Cursor */

.cursor-pointer {
  cursor: pointer;
}

/* Miscellaneous */

.yaba-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

#trans-form-modal {
  @media only screen and (max-height: 290px) {
    top: 0.5% !important;
  }
}

#filter-modal {
  @media only screen and (max-height: 460px) {
    top: 0.5% !important;
  }
}

.auth-button {
  width: 100%;
  color: $white !important;
  background-color: $green !important;
  height: 60px;
  font-size: 24px !important;
  padding: 0 !important;
  margin-top: 30px !important;
  font-family: 'Source Serif Pro' !important;
}

.yaba-button {
  color: $white !important;
  background-color: $green !important;
  padding: 8px !important;

  &.inverted {
    color: $green !important;
    background-color: $white !important;
  }
}

.yaba-card {
  border-left-width: 2px !important;
  border-left-style: solid !important;

  &.amount-pos {
    border-left-color: $green !important;
  }

  &.amount-neg {
    border-left-color: $red !important;
  }
}

.trans-form-button {
  padding: 6px !important;
}

/*
  Imports below are automatically generated.
  Any changes made after the following comment will be
    overwritten during Sass compile.
  Do not modify anything below this line!
*/

/* buildSassIndex */

@import 'src/app/components/misc/Alerts/Alerts.scss';
@import 'src/app/components/misc/DatePicker/DatePicker.scss';
@import 'src/app/components/tags/Tag/Tag.scss';
@import 'src/app/components/tags/TagAdd/TagAdd.scss';
@import 'src/app/components/tags/TagButton/TagButton.scss';
@import 'src/app/components/tags/TagDropdown/TagDropdown.scss';
@import 'src/app/components/tags/TagForm/TagForm.scss';
@import 'src/app/components/transactions/CsvDownload/CsvDownload.scss';
@import 'src/app/components/transactions/Dashboard/Dashboard.scss';
@import 'src/app/components/transactions/Filter/Filter.scss';
@import 'src/app/components/transactions/MobileButtonGroup/MobileButtonGroup.scss';
@import 'src/app/components/transactions/Sorter/Sorter.scss';
@import 'src/app/components/transactions/TransForm/TransForm.scss';
@import 'src/app/components/transactions/TransItem/TransItem.scss';
@import 'src/app/components/transactions/TransList/TransList.scss';
@import 'src/app/pages/AuthPage/AuthPage.scss';
@import 'src/app/pages/TransactionsPage/TransactionsPage.scss';
