$primary-color: #006d5b;
$white-base: #FDFFFF;
$grey-base-dark: #333;
$grey-base-light: #BBB;
$dark-base: #0F1B07;
$red-base: #D72C16;
$blue-base: #217CA3;
$yellow-base: #F5BE41;

$mobile-width: 767px;

body {
  background-color: $white-base;
}

/* Padding */

.no-padding {
  padding: 0 !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-30 {
  padding: 30px !important;
}

/* Margins */

.no-margin {
  margin: 0 !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-top-bottom-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-bottom-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

@media only screen and (max-width: $mobile-width) {
  .margin-top-5-mobile {
    margin-top: 5px !important;
  }

  .margin-bottom-5-mobile {
    margin-bottom: 5px !important;
  }

  .margin-top-10-mobile {
    margin-top: 10px !important;
  }

  .margin-top-20-mobile {
    margin-top: 20px !important;
  }

  .margin-top-30-mobile {
    margin-top: 30px !important;
  }
}

/* Display */

.inline-block {
  display: inline-block !important;
}

/* Positioning */

.center-horizontally {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* Width */

.third-width {
  width: 33.3% !important;
}

.forty-percent-width {
  width: 40% !important;
}

.half-width {
  width: 50% !important;
}

.full-width {
  width: 100% !important;
}

@media only screen and (max-width: $mobile-width) {
  .full-width-mobile {
    width: 100%;
  }
}

/* Text */

.yaba-text-size {
  font-size: 1.2em;
}

/* Buttons */

.success-button {
  background-color: $primary-color !important;
  color: $white-base !important;
}

.error-button {
  background-color: $red-base !important;
  color: $white-base !important;
}

.info-button {
  background-color: $blue-base !important;
  color: $white-base !important;
}

.warning-button {
  background-color: $yellow-base !important;
  color: $white-base !important;
}

/* Miscellaneous */

.yaba-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);

  // Height adjust specifically for filter modal
  @media only screen and (max-height: 350px) {
    top: 1%;
  }
}

.auth-button {
  width: 100%;
  color: $white-base !important;
  background-color: $primary-color !important;
  height: 60px;
  font-size: 24px !important;
  padding: 0 !important;
  margin-top: 30px !important;
  font-family: 'Abel' !important;
}

.yaba-button {
  color: $white-base !important;
  background-color: $primary-color !important;
  padding: 8px !important;
}

.yaba-card {
  border-left-width: 2px !important;
  border-left-style: solid !important;

  &.amount-pos {
    border-left-color: $primary-color !important;
  }

  &.amount-neg {
    border-left-color: $red-base !important;
  }
}

.trans-cta-button {
  padding: 6px !important;
}

/*
  Imports below are automatically generated.
  Any changes made after the following comment will be
    overwritten during Sass compile.
  Do not modify anything below this line!
*/

/* buildSassIndex */

@import 'src/app/components/misc/Alerts/Alerts.scss';
@import 'src/app/components/misc/DatePicker/DatePicker.scss';
@import 'src/app/components/tags/Tag/Tag.scss';
@import 'src/app/components/tags/TagAdd/TagAdd.scss';
@import 'src/app/components/tags/TagButton/TagButton.scss';
@import 'src/app/components/tags/TagDropdown/TagDropdown.scss';
@import 'src/app/components/tags/TagForm/TagForm.scss';
@import 'src/app/components/transactions/CsvDownload/CsvDownload.scss';
@import 'src/app/components/transactions/Dashboard/Dashboard.scss';
@import 'src/app/components/transactions/Filter/Filter.scss';
@import 'src/app/components/transactions/Sorter/Sorter.scss';
@import 'src/app/components/transactions/TransForm/TransForm.scss';
@import 'src/app/components/transactions/TransItem/TransItem.scss';
@import 'src/app/components/transactions/TransList/TransList.scss';
@import 'src/app/pages/AuthPage/AuthPage.scss';
@import 'src/app/pages/TransactionsPage/TransactionsPage.scss';
