body {
  background-color: #FDFFFF; }

/* Padding */
.no-padding {
  padding: 0 !important; }

.padding-top-5 {
  padding-top: 5px !important; }

.padding-bottom-5 {
  padding-bottom: 5px !important; }

.padding-30 {
  padding: 30px !important; }

/* Margins */
.no-margin {
  margin: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.margin-5 {
  margin: 5px !important; }

.margin-top-5 {
  margin-top: 5px !important; }

.margin-right-5 {
  margin-right: 5px !important; }

.margin-top-bottom-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-left-15 {
  margin-left: 15px !important; }

.margin-right-15 {
  margin-right: 15px !important; }

.margin-top-bottom-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-top-bottom-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

@media only screen and (max-width: 767px) {
  .margin-top-5-mobile {
    margin-top: 5px !important; }
  .margin-bottom-5-mobile {
    margin-bottom: 5px !important; }
  .margin-top-10-mobile {
    margin-top: 10px !important; }
  .margin-top-20-mobile {
    margin-top: 20px !important; }
  .margin-top-30-mobile {
    margin-top: 30px !important; }
  .margin-bottom-30-mobile {
    margin-bottom: 30px !important; } }

/* Display */
.inline-block {
  display: inline-block !important; }

@media only screen and (max-width: 560px) {
  .hidden-mobile {
    display: none !important; } }

@media only screen and (min-width: 561px) {
  .mobile-only {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .hidden-tablet-and-mobile {
    display: none !important; } }

@media only screen and (min-width: 768px) {
  .tablet-and-mobile-only {
    display: none !important; } }

/* Positioning */
.center-horizontally {
  text-align: center; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/* Width */
.third-width {
  width: 33.3% !important; }

.forty-percent-width {
  width: 40% !important; }

.half-width {
  width: 50% !important; }

.full-width {
  width: 100% !important; }

@media only screen and (max-width: 767px) {
  .full-width-mobile {
    width: 100% !important; } }

/* Border */
.no-border-top {
  border-top: none !important; }

.no-border-bottom {
  border-bottom: none !important; }

/* Text */
.yaba-text-size {
  font-size: 1.2em; }

/* Colors */
.green-color {
  color: #006d5b !important; }

.red-color {
  color: #D72C16 !important; }

.grey-light-color {
  color: #BBB !important; }

/* Buttons */
.green-button {
  background-color: #006d5b !important;
  color: #FDFFFF !important; }

.red-button {
  background-color: #D72C16 !important;
  color: #FDFFFF !important; }

.blue-button {
  background-color: #217CA3 !important;
  color: #FDFFFF !important; }

.yellow-button {
  background-color: #F5BE41 !important;
  color: #FDFFFF !important; }

/* Cursor */
.cursor-pointer {
  cursor: pointer; }

/* Miscellaneous */
.yaba-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%); }

@media only screen and (max-height: 533px) {
  #filter-modal {
    top: 0.5% !important; } }

.auth-button {
  width: 100%;
  color: #FDFFFF !important;
  background-color: #006d5b !important;
  height: 60px;
  font-size: 24px !important;
  padding: 0 !important;
  margin-top: 30px !important;
  font-family: 'Source Serif Pro' !important; }

.yaba-button {
  color: #FDFFFF !important;
  background-color: #006d5b !important;
  padding: 8px !important; }
  .yaba-button.inverted {
    color: #006d5b !important;
    background-color: #FDFFFF !important; }

.yaba-card {
  border-left-width: 2px !important;
  border-left-style: solid !important; }
  .yaba-card.amount-pos {
    border-left-color: #006d5b !important; }
  .yaba-card.amount-neg {
    border-left-color: #D72C16 !important; }

.trans-form-button {
  padding: 6px !important; }

.transaction-tag button {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #FDFFFF !important;
  color: #006d5b !important;
  font-size: 18px !important;
  font-weight: 600 !important; }

.input-imitation {
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28em;
  line-height: 1.32em;
  padding: 6px 8px;
  font-size: 18px;
  color: #0F1B07; }
  .input-imitation.error {
    border-color: #E0B4B4;
    background: #FFF6F6; }

/*
  Imports below are automatically generated.
  Any changes made after the following comment will be
    overwritten during Sass compile.
  Do not modify anything below this line!
*/
/* buildSassIndex */
/* Alerts */
.alert-list {
  position: fixed;
  margin-top: 30px;
  width: 100%;
  z-index: 1; }

.alert {
  margin: auto !important;
  margin-bottom: 10px !important;
  width: 80%;
  max-width: 767px;
  opacity: 0.93; }

@media only screen and (max-width: 767px) {
  .margin-top-20-mobile {
    margin-top: 20px !important; }
  .margin-top-30-mobile {
    margin-top: 30px !important; }
  .alert-list {
    margin-top: 45px; } }

.date-picker {
  z-index: 999; }
  .date-picker .close-picker {
    position: absolute;
    z-index: 1000;
    padding: 1px !important;
    width: 18px;
    height: 18px;
    margin-left: 1px !important;
    margin-top: 1px !important;
    border-radius: 0 !important; }
  .date-picker .DayPicker {
    background-color: #FDFFFF;
    border: 1px solid #BBB !important;
    padding-top: 0; }

/* Tag */
.yaba-tag {
  display: inline-block;
  background-color: #006d5b;
  color: white;
  border-radius: 3px 6px 6px 3px;
  -webkit-border-radius: 3px 6px 6px 3px;
  -moz-border-radius: 3px 6px 6px 3px;
  border-left: 1px solid #006d5b;
  margin-left: 13px;
  padding: 6px;
  position: relative;
  font-size: 14px;
  font-family: 'Playfair Display'; }
  .yaba-tag:before {
    content: "";
    display: block;
    position: absolute;
    left: -13px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid #006d5b; }
  .yaba-tag:after {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    top: 11px;
    left: -6px;
    width: 4px;
    height: 4px;
    border-radius: 50%; }

.tag-dropdown {
  background-color: #FDFFFF;
  z-index: 10;
  max-height: 270px;
  overflow-y: scroll; }
  .tag-dropdown .tag-dropdown-option {
    text-align: left;
    padding: 6px 4px !important;
    min-width: 100px; }

/* CSV Download */
#csv-upload-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

#csv-upload-input:hover {
  cursor: pointer; }

/* Dashboard */
#dashboard {
  border-left: 8px solid #006d5b;
  border-radius: 0 !important;
  margin: 0 auto;
  padding: 0 !important;
  min-height: 45px; }

#total-amount {
  font-size: 28px;
  font-family: 'Source Serif Pro';
  font-weight: 700;
  padding: 13px 11px 9px 11px !important; }

#transaction-count {
  font-size: 20px;
  font-family: 'Source Serif Pro';
  font-weight: 500; }

#filter-text {
  border-left: 8px solid #006d5b;
  font-size: 1.2em;
  border-radius: 0 !important; }

.transactions-filter .date-field {
  position: relative; }
  .transactions-filter .date-field input {
    cursor: pointer; }

.transactions-filter .tag-field {
  font-size: 14px !important;
  padding: 10px 14px !important; }

.transactions-filter .filter-tag button {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #FDFFFF !important;
  color: #006d5b !important;
  font-size: 14px !important;
  font-weight: 600 !important; }

.mobile-button-group {
  text-align: center;
  width: 64px;
  margin: 0 !important;
  padding: 0 !important; }
  .mobile-button-group .toggle-button {
    margin: 0 !important; }
  .mobile-button-group .action-button-wrapper {
    position: relative; }
    .mobile-button-group .action-button-wrapper .action-label {
      position: absolute;
      top: 5px;
      background-color: #666;
      padding: 3px 6px !important;
      color: #FDFFFF;
      border-radius: 3px; }
    .mobile-button-group .action-button-wrapper .action-button {
      display: inline-block;
      margin: 0 !important;
      margin-bottom: 10px !important; }
    .mobile-button-group .action-button-wrapper #filter-label {
      left: -43px; }
    .mobile-button-group .action-button-wrapper #form-label {
      left: -35px; }
    .mobile-button-group .action-button-wrapper #sort-label {
      left: -36px; }
    .mobile-button-group .action-button-wrapper #csv-label {
      left: -73px; }

.sorter .sort-title {
  font-size: 16px;
  font-weight: 500; }

.sorter .radio {
  margin-right: 13px !important;
  margin-bottom: 7px !important; }
  .sorter .radio label {
    font-size: 16px;
    padding-left: 22px !important; }

@media only screen and (max-width: 375px) {
  .sorter .radio {
    display: block; } }

/* Transaction Form */
.trans-form .input-height {
  height: 30px; }

.trans-form .input-padding {
  padding-left: 6px !important; }

.trans-form .input-padding-inner input {
  padding-left: 6px !important; }

#trans-form-content {
  padding: 0 !important; }

/* Transaction Item */
.transaction-description {
  font-weight: 500 !important;
  font-size: 18px !important; }

.transaction-date-amount {
  font-size: 18px !important; }

/* Transaction List */
#loader {
  text-align: center;
  min-height: 100px;
  vertical-align: middle; }

#fetch-transactions, #end-of-list {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding: 0 !important;
  color: #333; }

.header-catch-phrase {
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 42px;
  font-weight: 100; }
  @media only screen and (max-width: 767px) {
    .header-catch-phrase {
      font-size: 32px; } }

.what-is-yaba {
  text-align: center;
  font-family: 'Abel';
  font-size: 24px;
  max-width: 520px;
  margin: 0 auto;
  color: #333; }
  @media only screen and (max-width: 767px) {
    .what-is-yaba {
      font-size: 18px; } }

.auth-form-wrapper .auth-form-segment {
  width: 100%;
  max-width: 360px;
  margin: 0 auto; }

#transactions-page {
  max-width: 700px !important; }

#trans-mobile-buttons {
  position: fixed;
  z-index: 1000;
  bottom: 3%;
  right: 5%; }

#save-indicator-mobile {
  position: fixed;
  z-index: 1000;
  bottom: 6%;
  left: 10%; }

/*# sourceMappingURL=index.css.map */