/* Alerts */

.alert-list {
  position: fixed;
  margin-top: 30px;
  width: 100%;
  z-index: 1;
}

.alert {
  margin: auto !important;
  margin-bottom: 10px !important;
  width: 80%;
  max-width: $tablet-width;
  opacity: 0.93;
}

@media only screen and (max-width: $tablet-width) {
  .margin-top-20-mobile {
    margin-top: 20px !important;
  }

  .margin-top-30-mobile {
    margin-top: 30px !important;
  }

  .alert-list {
    margin-top: 45px;
  }
}
